#diaglayout .node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

#diaglayout .link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

#diaglayout .node text {
  font: sans-serif;
}

#forcelayout .node circle {
  cursor: pointer;
  stroke: white;
  stroke-width: 1.0px;
}

#forcelayout .node text {
  font: 5px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

#forcelayout line.link {
  fill: none;
  stroke: #D3D3D3;
  stroke-width: 1.5px;
}

#circlelayout .node circle {
  fill: #fff;
  stroke: white;
  stroke-width: 0.5px;
}

#circlelayout .node {
  font: 6px sans-serif;
}

#circlelayout .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}




/*#forcelayout .node {
  cursor: pointer;
}

#forcelayout .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#forcelayout .node text {
  font: sans-serif;
}

#forcelayout .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}*/
