@import url("https://fonts.googleapis.com/css?family=Roboto");
:root {
  --font-family-sans-serif: "Roboto", Calibri, Candara, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
}

body {
  font-family: "Roboto", Calibri, Candara, Arial, sans-serif;
  font-size: 130%;
  letter-spacing: 1;
}

textarea {
  font-family: inherit
}

h1, h2, h3, h5, h6,
.h1, .h2, .h3, .h5, .h6 {
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .25px;
  font-size: 100%;
}

/* advanced settings "title" */
h4,
.h4 {
 font-family: inherit;
 font-weight: 600;
 font-size: 100%;
 letter-spacing: .25px;
}

/* box titles */
.box.box-solid.box-primary>.box-header>h3.box-title,
.box.box-solid.box-success>.box-header>h3.box-title,
.box.box-solid.box-info>.box-header>h3.box-title,
.box.box-solid.box-warning>.box-header>h3.box-title,
.box.box-solid.box-danger>.box-header>h3.box-title{
 font-size: 120%;
 line-height: 140%;
 letter-spacing: .25px;
}

/* form input text */
.form-control.shiny-colour-input.shinyjs-resettable.colourpicker-input.shiny-bound-input{
 font-size: 100%;
}

/* header logo text */
.main-header .logo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}


/* logo */
.skin-blue .main-header .logo {
  color: #;                     
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  color: #;
}

/*  header */
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover{
  background-color: #333;
}        

/* slider bar */
.irs-single, .irs-bar-edge, .irs-bar, .irs-from, .irs-to{
  background: #333;
}

.irs-bar, .irs-bar-edge{
  border: #333;
}

.irs-line{
 background: #dde1e6;
 border:none;
}

/* slider circle */
.irs-slider.single,
.irs-slider.from,
.irs-slider.to{
 background: #fff;
 border-color: #c4c8cc;
 border-width: 6px;
 -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.irs-shadow{
 opacity: 0;
 background: #fff;
 display: none;
}

/* slider value box */
.irs-single, .irs-from, .irs-to{
  padding: 2px 3px 0px 3px;
  vertical-align: bottom;
}

.irs-min, .irs-max{
 background: #eceff3;
}

/* specific slider

.js-irs-2 .irs-single, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar{
  background: #ea7a6a;
}

.js-irs-2 .irs-bar, .js-irs-2 .irs-bar-edge {
  border: #ea7a6a;
} */

/* tooltip button */
.btn.action-button.btn-primary.btn-xs.shiny-bound-input{
 background: #c4c8cc;
 border: #fff;
}

.btn.action-button.btn-primary.btn-xs.shiny-bound-input>.fa.fa-question{
 color: #fff;
}

.btn.action-button.btn-primary.btn-xs.shiny-bound-input{
  width: 14px;
  height: 17px;
  line-height: 16px;
  min-height: 16px;
  vertical-align: center;
  font-size: 11px;
  padding: 1.5px 1.25px 0px 1px;
  margin: 0;
}

.btn.btn-box-tool>.fa.fa-plus,
.btn.btn-box-tool>.fa.fa-minus{
 color: #fff;
 padding: 5px 0px 0px 0px;
}

/* checkmarks */


/* info-plot button */

.btn.radiobtn.btn-primary{
  color:#eceff3;
  background: #a3b8cc;
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
      border-radius: 0px;
}

.btn.radiobtn.btn-primary:hover{
  background: #99b1c7;
}

.btn.radiobtn.btn-primary.active{
  color: #fff;
  background:#333;
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

.btn.radiobtn.btn-primary.active{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-group{
   padding: 0px 0px 2px 0px;
}

/* download button */

.btn.button-default{
 border-style: none;
}

#downloadtree.btn.btn-default, 
#downloadcircle.btn.btn-default, 
#downloadforce.btn.btn-default{
  width: 100%; 
  text-align: left; 
  color: #fff; 
  background-color: #333; 
  height:43px; 
  font-size: 120%; 
  line-height: 185%; 
  letter-spacing: .25px; 
  border-radius: 0; 
  border-color: #eceff3;
}

#downloadtree.btn.btn-default:hover, 
#downloadcircle.btn.btn-default:hover, 
#downloadforce.btn.btn-default:hover{
 background-color: #2b2b2b;
}

/* remove box shadows */

.box{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

.nav-tabs-custom{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

#InfoAbout.btn.btn-default.action-button.shiny-bound-input,
#InfoUsage.btn.btn-default.action-button.shiny-bound-input,
#InfoOther.btn.btn-default.action-button.shiny-bound-input{
  width: 100%; 
  text-align: left; 
  color: #fff; 
  height:43px; 
  font-size: 120%; 
  line-height: 190%; 
  letter-spacing: .25px; 
  border-radius: 0; 
  border-color: #eceff3;
  margin-bottom: 2px;
}


/* box 1 */

.box.box-solid.box-primary>.box-header,
#InfoAbout.btn.btn-default.action-button.shiny-bound-input{
  color:#fff;
  background:#3da1cc;
}

.box.box-solid.box-primary{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
  
}

.box.box-primary{
 border-top-color:#;
 
}

/* box 2 */

.box.box-solid.box-success>.box-header,
#InfoUsage.btn.btn-default.action-button.shiny-bound-input{
  color:#fff;
  background:#3889bf
}

.box.box-solid.box-success{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
  
}

/* box 3 */

.box.box-solid.box-info>.box-header,
#InfoOther.btn.btn-default.action-button.shiny-bound-input{
  color:#fff;
  background:#3477b3
}

.box.box-solid.box-info{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

/* box 4 */
.box.box-solid.box-warning>.box-header{
  color:#fff;
  background:#425e8c
}

.box.box-solid.box-warning{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

.box.box-warning{
 border-top-color:#;
}

/* box 5 */

.box.box-solid.box-danger>.box-header{
  color:#fff;
  background:#D6604D
}

.box.box-solid.box-danger{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

/* active tab */

.nav-tabs-custom .nav-tabs li.active {
     border-top-color: #3da1cc;
}

/* dashboard background */
.content-wrapper,
.right-side {
background-color: #;
}

/*
.form-control:focus {
        border-color: #36c9da;
    }
*/

/* toggle button                    
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
  background-color: #fff;
}

/* toggle button when hovered                      
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  color: #--font-family-sans-serif;
  background-color: #fff;
}

/* main sidebar 
.main-sidebar {
  background-color: #222c32;
}

/* active selected tab in the sidebarmenu 
.main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #1e272c;
}

/* other links in the sidebarmenu 
.main-sidebar .sidebar .sidebar-menu a{
  color: #d3d3d3;
}

/* other links in the sidebarmenu when hovered 
.main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: #d3d3d3;
  color: #fff;
}

