@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700');
:root {
  --font-family-sans-serif: 'Heebo', Calibri, Candara, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: 'Heebo', sans-serif;
  font-weight: 400 !important;
}

body {
  font-family: 'Heebo', Calibri, Candara, Arial, sans-serif;
  font-size: 130%;
  font-weight: 400 !important;
  letter-spacing: .25;
}

textarea {
  font-family: inherit;
}

a {
 color: #43bbef;
}
   
h1,.h1{
  font-family: inherit;
  font-weight: ;
  font-size: 185%;
  margin-top: 20px;
  margin-bottom: 8px;
}

h2,.h2{
  font-family: inherit;
  font-weight: 700;
  font-size: 140%;
  letter-spacing: .25px;
  margin-top: 20px;
  margin-bottom: 4px;
}

h3,.h3{
  font-family: inherit;
  font-weight: 700;
  font-size: 120%;
  letter-spacing: .25px;
  margin-top: 20px;
  margin-bottom: 4px;
} 

h4,.h4{
  font-family: inherit;
  font-weight: 500;
  font-size: 120%;
  letter-spacing: .25px;
  margin-top: 20px;
  margin-bottom: 4px;
}

h5,.h5{
  font-family: inherit;
  font-weight: 400;
  font-size: 120%;
  letter-spacing: .25px;
  margin-top: 20px;
  margin-bottom: 4px;
} 

h6,.h6{
  font-family: inherit;
  font-weight: 700;
  font-size: 100%;
  letter-spacing: .25px;
  margin-top: 2px;
}

/* original font sizes:
   h1 - 280%, h2 - 230%, h3 - 185%, h4 - 140%, h5 - 110%, h6 - 90% 
   font weight: 500 */

#InfoAboutBox .box-body h4{
 font-size: 97%;
 font-weight: 400;
 margin-top: 7px;
 margin-bottom: 8px;
 color: #abbed1;
 letter-spacing: .4px;
 line-height: 140%;
}
   
#InfoAboutBox .box-body h6{
 font-size: 97%;
 font-weight: 300;
 margin-top: 7px;
 margin-bottom: 0px;
 line-height: 140%;
 color:#b5c7d8; 
 letter-spacing: .4px;
}

#InfoAboutBox .box-body {
 font-size: 97%;
 font-weight: 300;
 line-height: 140%;
 color:#b5c7d8; 
 letter-spacing: .4px;
}

.col-sm-5{
 ;
}

blockquote{
  font-family: inherit;
  font-size: 100%;
  padding: 0px 0px 0px 13px;
  margin-bottom: 0px;
}

#InfoBranchColorBox .box-body blockquote{
   border-left: 4px solid #3da1cc;
}

#InfoNodeColorBox .box-body blockquote{
   border-left: 4px solid #3889bf;
}

#InfoNodeSizeBox .box-body blockquote{
   border-left: 4px solid #3477b3;
}

#InfoAdvancedOptionsBox .box-body blockquote{
   border-left: 4px solid #425e8c;
}

/* plot button titles */
.box.box-solid.box-primary>.box-header>h3.box-title,
.box.box-solid.box-success>.box-header>h3.box-title,
.box.box-solid.box-info>.box-header>h3.box-title,
.box.box-solid.box-warning>.box-header>h3.box-title,
.box.box-solid.box-danger>.box-header>h3.box-title{
 font-family: inherit;
 font-weight: 400;
 font-size: 120%;
 line-height: 140%;
 letter-spacing: .25px;
}

.box.box-solid.box-primary>.box-header,
.box.box-solid.box-success>.box-header,
.box.box-solid.box-info>.box-header,
.box.box-solid.box-warning>.box-header,
.box.box-solid.box-danger>.box-header{
 padding-top: 11px;
 padding-bottom: 9px;
}

/* form input text */
.form-control.shiny-colour-input.shinyjs-resettable.colourpicker-input.shiny-bound-input{
 font-size: 100%;
}

/* header logo text */
.main-header .logo {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}


/* logo */
.skin-blue .main-header .logo {
  color: #;                     
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  color: #;
}

/*  header */
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover{
  background-color: #333;
}        

/* slider bar */
.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar, .js-irs-0 .irs-from, .js-irs-0 .irs-to,
.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar, .js-irs-1 .irs-from, .js-irs-1 .irs-to{
  background: #3477b3;
}

.js-irs-0 .irs-bar, .js-irs-0 .irs-bar-edge,
.js-irs-1 .irs-bar, .js-irs-1 .irs-bar-edge{
  border: #3477b3;
}

.js-irs-2 .irs-single, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar, .js-irs-2 .irs-from, .js-irs-2 .irs-to,
.js-irs-3 .irs-single, .js-irs-3 .irs-bar-edge, .js-irs-3 .irs-bar, .js-irs-3 .irs-from, .js-irs-3 .irs-to{
  background: #425e8c;
}

.js-irs-2 .irs-bar, .js-irs-2 .irs-bar-edge,
.js-irs-3 .irs-bar, .js-irs-3 .irs-bar-edge{
  border: #425e8c;
}

.irs-line{
 background: #dde1e6;
 border:none;
}

/* slider circle */
.irs-slider.single,
.irs-slider.from,
.irs-slider.to{
 background: #fff;
 border-color: #c4c8cc;
 border-width: 6px;
 -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.irs-shadow{
 opacity: 0;
 background: #fff;
 display: none;
}

/* slider value box */
.irs-single, .irs-from, .irs-to{
  padding: 2px 3px 0px 3px;
  vertical-align: bottom;
}

.irs-min, .irs-max{
 background: #eceff3;
}

/* info-plot radio button */
.btn.radiobtn.btn-primary{
  color:#eceff3;
  background: #a3b8cc;
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
  border-radius: 0px;
  padding-top: 7px;
  height: 42px;
  font-family: inherit;
  font-weight: 400;
  font-size: 110%;
  line-height: 140%;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.btn.radiobtn.btn-primary:hover{
  background: #99b1c7;
}

.btn.radiobtn.btn-primary.active{
  color: #fff;
  background:#333;
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

.btn.radiobtn.btn-primary.active{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-group{
   padding: 0px 0px 2px 0px;
}

/* info buttons*/
#InfoBranchColorButton.btn.btn-default.action-button.shiny-bound-input,
#InfoNodeColorButton.btn.btn-default.action-button.shiny-bound-input,
#InfoNodeSizeButton.btn.btn-default.action-button.shiny-bound-input,
#InfoAdvancedSettingsButton.btn.btn-default.action-button.shiny-bound-input,
#InfoAboutButton.btn.btn-default.action-button.shiny-bound-input{
  width: 100%; 
  text-align: left; 
  color: #fff; 
  height:43px; 
  font-size: 120%; 
  line-height: 190%; 
  letter-spacing: .25px; 
  border-radius: 0; 
  border-color: #eceff3;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-left: 10px;
}

/* plot button 1 */
.box.box-solid.box-primary>.box-header,
#InfoBranchColorButton.btn.btn-default.action-button.shiny-bound-input{
  color:#fff;
  background:#3da1cc;
}

.box.box-solid.box-primary{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

.box.box-primary{
 border-top-color:#;
}

/* plot button 2 */
.box.box-solid.box-success>.box-header,
#InfoNodeColorButton.btn.btn-default.action-button.shiny-bound-input{
  color:#fff;
  background:#3889bf;
}

.box.box-solid.box-success{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

/* plot button 3 */
.box.box-solid.box-info>.box-header,
#InfoNodeSizeButton.btn.btn-default.action-button.shiny-bound-input{
  color:#fff;
  background:#3477b3;
}

.box.box-solid.box-info{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

/* plot button 4 */
.box.box-solid.box-warning>.box-header,
#InfoAdvancedSettingsButton.btn.btn-default.action-button.shiny-bound-input{
  color:#fff;
  background:#425e8c;
}

.box.box-solid.box-warning{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

.box.box-warning{
 border-top-color:#;
}

/* plot button 5 */
.box.box-solid.box-danger>.box-header,
#InfoAboutButton.btn.btn-default.action-button.shiny-bound-input{
  color:#fff;
  background:#333;
}

.box.box-solid.box-danger{
  border-bottom-color:#eceff3;
  border-left-color:#eceff3;
  border-right-color:#eceff3;
  border-top-color:#eceff3;
}

/* download button */
.btn.button-default{
 border-style: none;
}

#downloadtree.btn.btn-default, 
#downloadcircle.btn.btn-default, 
#downloadforce.btn.btn-default{
  width: 100%; 
  text-align: left; 
  color: #fff; 
  background-color: #333; 
  height:43px; 
  font-size: 120%; 
  line-height: 190%; 
  letter-spacing: .25px; 
  border-radius: 0; 
  border-color: #eceff3;
  padding-top: 7px;
}

#downloadtree.btn.btn-default:hover, 
#downloadcircle.btn.btn-default:hover, 
#downloadforce.btn.btn-default:hover{
 background-color: #2b2b2b;
}

#downloadtree.btn.btn-default, 
#downloadcircle.btn.btn-default, 
#downloadforce.btn.btn-default,
#InfoAboutButton.btn.btn-default.action-button.shiny-bound-input{
  margin-bottom: 18px;
}


/* plot button +/- */
.btn.btn-box-tool>.fa.fa-plus,
.btn.btn-box-tool>.fa.fa-minus{
 color: #fff;
 padding: 5px 0px 0px 0px;
}

/* tooltip button */
.btn.action-button.btn-primary.btn-xs.shiny-bound-input{
 background: #c4c8cc;
 border: #fff;
}

.btn.action-button.btn-primary.btn-xs.shiny-bound-input>.fa.fa-question{
 color: #fff;
}

.btn.action-button.btn-primary.btn-xs.shiny-bound-input{
  width: 14px;
  height: 17px;
  line-height: 16px;
  min-height: 16px;
  vertical-align: center;
  font-size: 11px;
  padding: 1.5px 1.25px 0px 1px;
  margin: 0;
}

/* remove shadows */
.box{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

.nav-tabs-custom{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

/* active tab */
.nav-tabs-custom .nav-tabs li.active {
     border-top-color: #3da1cc;
}

/* content box */
.box{
 border-top-color: #;
}

/* info box margins */
#InfoBranchColorBox .box-body,
#InfoNodeColorBox .box-body,
#InfoNodeSizeBox .box-body,
#InfoAdvancedOptionsBox .box-body{
 margin-left: 30px;
 margin-right: 30px;
}

#InfoAboutBox .box-body{
 margin-left: 30px;
}

#InfoAboutBox .box{
 background-color: #333;
}

/* dashboard background */
.content-wrapper,
.right-side {
background-color: #eceff3;
}

/* info box top borders */

#InfoBranchColorBox .box{
 border-top-color: #eceff3;
}

#InfoNodeColorBox .box{
 border-top-color: #eceff3;
}

#InfoNodeSizeBox .box{
 border-top-color: #eceff3;
}

#InfoAdvancedOptionsBox .box{
 border-top-color: #eceff3;
}

#InfoAboutBox .box{
 border-top-color: #eceff3;
}

.tab-pane.active {
 overflow: hidden;
}
